@use 'base';
@use 'layout';
@use 'components';
@use 'pages';

@use "../mixins" as*;

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.no-scroll {
        overflow: hidden;
    }
}

footer {
    margin-top: auto;
}

.container {
    margin: 0 auto;
    padding-inline: 60px;
    max-width: 1440px;

    @media screen and (max-width: 767px) {
        padding-inline: 16px;
    }

    &--lg {
        padding-inline: 10px;

        @media screen and (max-width: 767px) {
            padding-inline: 16px;
        }
    }

    &--xs {
        max-width: 650px;
        padding-inline: 16px;
    }
}

// body:not(:has(.page--home)) {
//     .header {
//         .container {
//             padding-inline: 60px;
//         }
//     }
// }
// @use "../mixins/"as *;

// $fontPrimary: "";
// $fontSecondary: "";

// // 

// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Thin", 100, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-ExtraLight", 200, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Light", 300, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Regular", 400, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Medium", 500, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-SemiBold", 600, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Bold", 700, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-ExtraBold", 800, normal);
// @include font-woff2($fontPrimary, "/src/assets/fonts/#{$fontPrimary}-Black", 900, normal);

// @include font-woff2($fontSecondary, "/src/assets/fonts/#{$fontSecondary}-Regular", 400, normal);
// @include font-woff2($fontSecondary, "/src/assets/fonts/#{$fontSecondary}-Medium", 500, normal);
// @include font-woff2($fontSecondary, "/src/assets/fonts/#{$fontSecondary}-SemiBold", 600, normal);
// @include font-woff2($fontSecondary, "/src/assets/fonts/#{$fontSecondary}-Bold", 700, normal);
// @include font-woff2($fontSecondary, "/src/assets/fonts/#{$fontSecondary}-ExtraBold", 800, normal);


.sr-only { // visually-hidden
  display: block;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important
}


@forward "reset";
@forward "variables";
@forward "fonts";
@forward "base";
@forward "icons";
@forward "helpers";

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body,
html {
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  position: relative;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizespeed;
}

details>summary,
li,
ol,
ul {
  list-style: none;
}

summary {
  display: list-item;
}

details summary::-webkit-details-marker {
  display: none;
}

h1,
h2,
h3,
h4,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

label,
time {
  display: block;
}


figure,
blockquote {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}


b,
strong {
  font-weight: 900;
}

address {
  font-style: normal;
}


button {
  margin: 0;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  font: inherit;
  font-size: 100%;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  outline: 0;
  text-align: left;
}

button:disabled {
  cursor: default;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: none;
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font: inherit;
  line-height: 1;
}
:root {
    --section-padding: 128px;
    --text-color: #333D4C;

    @media screen and (max-width: 991px) {
        --section-padding: 80px;
    }

    @media screen and (max-width: 767px) {
        --section-padding: 54px;
    }
}

.footer {
    padding-top: var(--section-padding);

    .container {
        padding-inline: 60px;

        @media screen and (max-width: 767px) {
            padding-inline: 16px;
        }
    }

    &__content {
        margin-bottom: 85px;
        gap: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 40px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.05em;
        opacity: .5;
        text-transform: uppercase;
        margin-bottom: 32px;
        color: #333D4C;

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 16px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        opacity: .5;
        margin-bottom: 8px;
        color: #333D4C;

        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__menu {
        ul {
            display: flex;
            flex-direction: column;
            gap: 3px;

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: -0.05em;
                    color: #333D4C;
                    transition: .3s linear;
                    position: relative;

                    @media screen and (max-width: 767px) {
                        font-size: 12px;
                        line-height: 12px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        transition-property: width;
                        transition-duration: .3s;
                        background: #333D4C;
                    }

                    @media (hover: hover) {
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    @media (hover: none) {
                        &:active {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    &__timework {
        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                color: #333D4C;

                @media screen and (max-width: 1199px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }

        &-box {
            &:not(:last-child) {
                margin-bottom: 32px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__address {
        max-width: 334px;

        @media screen and (max-width: 1199px) {
            max-width: 250px;
        }

        @media screen and (max-width: 767px) {
            max-width: 100%;
        }

        a {
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            color: #333D4C;
            transition: .3s linear;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
                line-height: 20px;
            }

            @media (hover: hover) {
                &:hover {
                    opacity: .6;
                }
            }

            @media (hover: none) {
                &:active {
                    opacity: .6;
                }
            }
        }
    }

    &__contact {
        .footer__title {
            margin-bottom: 8px;
        }

        a {
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            color: #333D4C;
            transition: .3s linear;

            @media screen and (max-width: 1199px) {
                font-size: 20px;
                line-height: 20px;
            }

            @media (hover: hover) {
                &:hover {
                    opacity: .6;
                }
            }

            @media (hover: none) {
                &:active {
                    opacity: .6;
                }
            }
        }

        &-box {
            &:not(:last-child) {
                margin-bottom: 21px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 32px;
                }
            }
        }
    }

    &__legal {
        padding-block: 59px 49px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        color: #333D4C;

        @media screen and (max-width: 767px) {
            padding-block: 25px;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 12px;
        }

        p {
            opacity: .6;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 16px;
        opacity: .6;

        a {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                transition-property: width;
                transition-duration: .3s;
                background: #333D4C;
            }

            @media (hover: hover) {
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            @media (hover: none) {
                &:active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__marquee {
        display: flex;
        align-items: center;
        gap: 32px;
        overflow: hidden;

        @media screen and (max-width: 767px) {
            gap: 16px;
        }

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-shrink: 0;
            gap: 32px;
            animation: marquee;
            animation-duration: 45s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @media screen and (max-width: 767px) {
                gap: 16px;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 32px;

            @media screen and (max-width: 767px) {
                gap: 16px;
            }
        }

        &-title {
            font-size: 64px;
            font-weight: 400;
            line-height: 57.6px;
            color: #333D4C;

            @media screen and (max-width: 767px) {
                font-size: 24px;
                line-height: 21.6px;
            }
        }

        &-ico {
            display: inline-flex;
            width: 46px;
            height: 46px;

            @media screen and (max-width: 767px) {
                width: 30px;
                height: 30px;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee__row {
        animation: none;
        -webkit-animation: none;
    }
}

@keyframes marquee {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}


/*Marquee stile*/
.marquee {
    background: #0A532C;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.marquee .scroll {
    width: 100%;
    display: flex;
}

.marquee .scroll div {
    color: #fff;
    font-size: 35px;
    background: #0A532C;
    white-space: nowrap;
    font-weight: 500;
    animation: animate-marquee 80s linear infinite;
    animation-delay: -40s;
}

.marquee .scroll div:nth-child(2) {
    animation: animate-marquee-2 80s linear infinite;
    animation-delay: -80s;
}

.marquee .scroll div .category {
    padding: 10px 30px;
}

.category {
    color: #fff;
    font-size: 35px;
    font-weight: 600 !important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
    font-family: sans-serif;
}

.category a {
    color: #FFF;
    text-decoration: none;
}

/*Responsive marquee*/
@media (max-width:767px) {
    .category {
        font-size: 25px;
    }

    .marquee .scroll div {
        font-size: 25px;
    }
}

@keyframes animate-marquee {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes animate-marquee-2 {
    0% {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -moz-transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}
.header {
    padding-block: 10px;
    z-index: 20;

    &__wrapper {
        padding: 13px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid #333D4C;
    }

    &__logo {
        max-width: 98px;
        width: 100%;
        display: inline-flex;
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 32px;

            @media screen and (max-width: 1199px) {
                gap: 20px;
            }

            @media screen and (max-width: 991px) {
                gap: 10px;
            }

            @media screen and (max-width: 1199px) {
                display: none;
            }

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.36px;
                    color: #333D4C;
                    transition: .3s linear;

                    @media (hover: hover) {
                        &:hover {
                            opacity: .6;
                        }
                    }

                    @media (hover: none) {
                        &:active {
                            opacity: .6;
                        }
                    }
                }
            }
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: 1199px) {
            gap: 20px;
        }

        @media screen and (max-width: 991px) {
            gap: 10px;
        }

        @media screen and (max-width: 1199px) {
            display: none;
        }

        &-tel {
            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.36px;
                display: inline-flex;
                align-items: center;
                gap: 8px;
                color: #333D4C;
                transition: .3s linear;

                @media (hover: hover) {
                    &:hover {
                        opacity: .6;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .6;
                    }
                }

                &::before {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 16px;
                    height: 16px;
                    background: url(../images/icons/ico-phone.svg) no-repeat center center/cover;
                }
            }
        }

        &-connect {
            display: flex;
            align-items: center;
            gap: 4px;

            a {
                display: inline-flex;
                transition: .3s linear;

                @media (hover: hover) {
                    &:hover {
                        opacity: .6;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .6;
                    }
                }

                &:first-child {
                    flex-shrink: 0;
                    width: 43px;
                    height: 43px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: #333D4C;
                }

                &:last-child {
                    gap: 24px;
                    max-width: 133px;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.36px;
                    justify-content: space-between;
                    padding: 12px 16px;
                    border-radius: 4px;
                    background: #DC3B3B;
                    color: #fff;

                    &::after {
                        content: '';
                        display: inline-flex;
                        flex-shrink: 0;
                        width: 18px;
                        height: 18px;
                        background: url(../images/icons/ico-edit.svg) no-repeat center center/cover;
                    }
                }
            }
        }
    }

    &__burger {
        display: none;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        @media screen and (max-width: 1199px) {
            display: flex;
        }

        span {
            width: 18px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #333D4C;
            transition: all 0.3s ease-in-out;

            &:nth-of-type(2) {
                top: calc(50% - 5px);
            }

            &:nth-of-type(3) {
                top: calc(50% + 5px);
            }
        }

        &.opened {
            span:nth-of-type(1) {
                display: none;
            }

            span:nth-of-type(2) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(45deg);
            }

            span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(-45deg);
            }
        }
    }
}

.mobile-menu {
    overflow: scroll;
    transform: translateX(-100%);
    transition: .3s linear;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &.show {
        transform: translateX(0%);
    }

    ul {
        padding-top: 100px;

        li {
            padding-block: 20px;
            border-bottom: 2px solid #333D4C1A;

            &:has(.dropdown-item) {
                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;

                    &::after {
                        transition: .3s linear;
                        transform: rotate(0);
                        content: '';
                        display: inline-flex;
                        width: 24px;
                        height: 24px;
                        background: url(../images/icons/ico-drop.svg) no-repeat center center/cover;
                    }
                }

                &.show {
                    .dropdown-item {
                        padding-top: 24px;
                        max-height: 100px;
                        overflow: scroll;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }

                    a {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            a {
                width: 100%;
                font-size: 24px;
                font-weight: 500;
                line-height: 26.4px;
                color: #333D4C;
            }
        }
    }

    .dropdown-item {
        max-height: 0;
        overflow: hidden;
        transition: all .5s linear;

        ul {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                padding-block: 0;
                border: none;

                a {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18.9px;
                    color: #333D4C;

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
@forward 'footer';
@forward 'header';
@mixin bg-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin cut-text($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}
@mixin font-woff2($font-family, $url, $weight, $style) {
  @font-face {
    src: url('#{$url}.woff2') format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}
@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }

  }
}
@mixin img-cover {
  width: 100%;
  object-fit: cover;
}

@forward "font-face";
@forward "cut-text";
@forward "bg-cover";
@forward "bg-contain";
@forward "mask-contain";
@forward "img-cover";
@forward "size";
@forward "hover";
@forward "media";

@mixin mask-contain {
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 600;
$xs: 480;

@mixin rmin($width) {
  @media (min-width: #{$width}px) {
    @content;
  }
}

@mixin rhmin($width) {
  @media (min-height: #{$width}px) {
    @content;
  }
}

@mixin rhmax($width) {
  @media (max-height: #{$width}px) {
    @content;
  }
}

@mixin rmax($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}


$maxValue: 1440;
$minValue: 360;

@function sizeMax($max, $min, $wmax: $maxValue, $wmin: $minValue) {
  $size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - #{$wmin}px) / (#{$wmax} - #{$wmin})));
  @return $size;
}

@mixin size($propName, $max, $min, $stopSize: $maxValue) {
  @if $max == $min {
    #{$propName}: #{$max}px;
  } @else {
    #{$propName}: sizeMax($max, $min);

    @media (min-width: #{$stopSize}px) {
      #{$propName}: #{$max}px;
    }
  }
}
@use 'home';
@use 'services';
@use 'worker';
@use 'article';
@use 'vacancies';
@use 'vacancy';
@use 'contact';
@use 'blog';
.page--article {
    .article {
        padding-block: 54px 128px;
        color: #333D4C;

        h1 {
            font-size: 64px;
            font-weight: 400;
            line-height: 57.6px;
            margin-bottom: 48px;
        }

        h2 {
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
            margin-bottom: 24px;
        }

        h3 {
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 16px;
        }

        ul,
        ol {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 48px;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
            }
        }

        ul {
            li {
                display: inline-flex;
                align-items: flex-start;
                gap: 7px;

                &::before {
                    content: '';
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    display: inline-flex;
                    flex-shrink: 0;
                    transform: translateY(150%);
                    background: #DC3B3B;
                }
            }
        }

        ol {
            list-style-type: none;
            counter-reset: li;
            &:last-child {
                margin-bottom: 0;
            }

            li {
                list-style-type: none;
                counter-increment: item;
            }

            li::before {
                counter-increment: li;
                content: counter(li, decimal-leading-zero);
                color: #272A2F;
                opacity: .5;
                margin-right: 7px;
            }
        }

        img {
            margin-bottom: 8px;
            width: 100%;
            border-radius: 8px;
        }

        figcaption {
            margin-bottom: 48px;
            opacity: .5;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.8px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
        }

        p:has(+ h2) {
            margin-bottom: 48px;
        }

        p:has(+ h3) {
            margin-bottom: 32px;
        }
    }
}
.page--blog {
    .blog {
        padding-top: 54px;
        color: #272A2F;

        h1 {
            font-size: 75px;
            font-weight: 800;
            line-height: 67.5px;
            letter-spacing: -0.06em;
            text-transform: uppercase;
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        &__card {
            padding: 24px;
            border-radius: 12px;
            background: #D9DFE7;
            color: #333D4C;

            &-thumb {
                width: 100%;
                height: 200px;
                margin-bottom: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            &-date {
                display: inline-flex;
                margin-bottom: 8px;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                opacity: .5;
            }

            &-title {
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 24px;
            }

            &-link {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: -0.05em;
                display: inline-flex;
                gap: 8px;
                align-items: center;
                transition: .3s linear;
                margin-bottom: 19px;

                &::after {
                    content: "";
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 14px;
                    height: 14px;
                    background: url(../images/icons/ico-arrows-dark.svg) no-repeat center center / cover;
                }

                @media (hover: hover) {
                    &:hover {
                        opacity: .6;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .6;
                    }
                }

            }

            &-description {
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
                opacity: .6;
            }
        }
    }
}
.page--contact {
    .contacts {
        &__boxes {
            display: flex;
            flex-direction: column;
            gap: 42px;
        }

        &__box {
            border-radius: 6px;
            padding: 32px;
            display: grid;
            grid-template-columns: 1fr 502px;
            gap: 20px;
            background: #D9DFE7;
            color: #272A2F;

            .col {
                &:first-child {
                    max-width: 620px;
                }
            }

            h2 {
                font-size: 40px;
                font-weight: 400;
                line-height: 40px;
                max-width: 300px;
            }

            h3 {
                font-size: 34px;
                font-weight: 400;
                line-height: 34px;
                margin-bottom: 16px;
            }

            h4 {
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
                margin-bottom: 4px;
                opacity: .6;
            }

            h5 {
                margin: 0;
                padding-block: 8px;
                font-size: 12px;
                font-weight: 400;
                line-height: 16.8px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
            }

            p:has(+ h3),
            p:has(+ img) {
                margin-bottom: 48px;
            }

            p:has(+ p) {
                margin-bottom: 16px;
            }

            ul {
                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                li {
                    padding-block: 8px;
                    font-size: 34px;
                    font-weight: 400;
                    line-height: 34px;
                }
            }

            img {
                width: 100%;
                margin-bottom: 48px;
            }

            a {
                font-size: 34px;
                font-weight: 400;
                line-height: 34px;
                transition: all .3s linear;
                display: inline-flex;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &:has(img) {
                    max-width: 620px;
                    display: inline-flex;
                    overflow: hidden;
                    position: sticky;
                    top: 10px;

                    img {
                        margin-bottom: 0;
                        object-fit: cover;
                        border-radius: 6px;
                        width: 100%;
                        transition: all .3s linear;
                    }

                    @media (hover: hover) {
                        &:hover {
                            opacity: .8;
                        }
                    }

                    @media (hover: none) {
                        &:active {
                            opacity: .8;
                        }
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        opacity: .6;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .6;
                    }
                }
            }
        }
    }
}
.page--contact {
    .hero {
        margin-bottom: 24px;

        &__content {
            overflow: hidden;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #272A2F80;
            }
        }

        h1 {
            text-transform: uppercase;
            z-index: 2;
            font-size: 75px;
            font-weight: 800;
            line-height: 67.5px;
            letter-spacing: -0.06em;
            color: #fff;
        }
    }
}
@forward 'hero';
@forward 'cards';
.page--home {
    .gallery {
        padding-top: var(--section-padding);

        .container {
            @media screen and (max-width: 767px) {
                padding-inline: 0;
            }
        }

        &__content {
            padding-block: 50px;
            border-radius: 12px;
            background: #333D4C;

            @media screen and (max-width: 991px) {
                padding-block: 30px;
            }

            @media screen and (max-width: 767px) {
                border-radius: 0;
                padding-block: 17px;
            }
        }

        &__showcase {
            margin-left: 50px;

            @media screen and (max-width: 767px) {
                margin-left: 16px;
            }

            &-wrapper {
                width: 100%;
            }

            &-slide {
                height: 405px;
                width: 100%;

                @media screen and (max-width: 767px) {
                    height: 202px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }
            }
        }

        &__cards {
            // margin-left: 50px;
            // padding-inline: 50px;
            padding-top: var(--section-padding);

            &-head {
                padding-inline: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 36px;

                @media screen and (max-width: 767px) {
                    margin-bottom: 30px;
                    align-items: flex-start;
                    padding-inline: 16px;
                }
            }

            &-description {
                gap: 32px;
                display: flex;
                align-items: flex-end;

                @media screen and (max-width: 991px) {
                    gap: 20px;
                }

                @media screen and (max-width: 767px) {
                    gap: 0px;
                }

            }

            &-link {
                display: inline-flex;
                gap: 8px;
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                transition: all .3s linear;
                color: #fff;

                @media screen and (max-width: 767px) {
                    display: none;
                }

                &.mobile--visible {
                    display: none;
                    padding: 24px 0 0 16px;

                    @media screen and (max-width: 767px) {
                        display: flex;
                    }
                }

                &::after {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 14px;
                    height: 14px;
                    background: url(../images/icons/ico-arrows-white.svg) no-repeat center center/cover;
                }

                @media (hover: hover) {
                    &:hover {
                        opacity: .5;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .5;
                    }
                }
            }

            &-navigation {
                gap: 6px;
                display: flex;
                align-items: center;
            }

            &-btn {
                cursor: pointer;
                display: inline-flex;
                width: 44px;
                height: 44px;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                transition: all .3s linear;
                border: 1px solid #fff;

                @media (hover: hover) {
                    &:hover {
                        opacity: .5;
                    }
                }

                @media (hover: none) {
                    &:active {
                        opacity: .5;
                    }
                }
            }

            &-title {
                font-size: 64px;
                font-weight: 400;
                line-height: 57.6px;
                color: #fff;

                @media screen and (max-width: 991px) {
                    font-size: 54px;
                    line-height: 48px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 44px;
                    line-height: 39px;
                }
            }

            &-items {
                margin-left: 50px;

                @media screen and (max-width: 767px) {
                    margin-left: 16px;
                }

                &-wrapper {
                    width: 100%;
                }

                &-slide {
                    height: auto;
                    border-radius: 12px;
                    background: #fff;

                    .content {
                        padding: 24px;

                        @media screen and (max-width: 767px) {
                            padding: 12px;
                        }
                    }

                    .thumb {
                        height: 200px;
                        margin-bottom: 16px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                    .date {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                        opacity: .5;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 24px;
                    }

                    .link {
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: -0.05em;
                        margin-bottom: 16px;

                        &::after {
                            content: '';
                            display: inline-flex;
                            flex-shrink: 0;
                            width: 14px;
                            height: 14px;
                            background: url(../images/icons/ico-arrows-dark.svg) no-repeat center center/cover;
                        }
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20.8px;
                        opacity: .6;
                    }
                }
            }
        }
    }
}
.page--home {
    .hero {
        &__content {
            position: relative;
        }

        &__label {
            max-width: 791px;
            width: 100%;
            padding: 32px;
            position: absolute;
            z-index: 5;
            bottom: 12px;
            left: 16px;
            right: 16px;
            border-radius: 4px;
            background: #fff;

            @media screen and (max-width: 991px) {
                max-width: 500px;
            }

            @media screen and (max-width: 767px) {
                max-width: 100%;
                position: relative;
                left: auto;
                right: auto;
                bottom: auto;
                border-radius: 4px;
                padding: 24px;
                border: 1px solid #272A2F;
            }

            @media screen and (max-width: 359px) {
                padding: 18px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                color: #333D4C;

                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    line-height: 14px;
                    margin-bottom: 4px;
                }

                @media screen and (max-width: 359px) {
                    font-size: 12px;
                    line-height: 12px;
                }
            }

            h1 {
                flex-wrap: wrap;
                display: inline-flex;
                align-items: baseline;
                font-size: 128px;
                font-weight: 400;
                line-height: 128px;
                color: #333D4C;

                @media screen and (max-width: 991px) {
                    font-size: 74px;
                    line-height: 74px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 50px;
                    line-height: 50px;
                }

                @media screen and (max-width: 359px) {
                    font-size: 40px;
                    line-height: 40px;
                }

                span {
                    display: inline-flex;
                    width: 74px;
                    height: 74px;
                    flex-shrink: 0;

                    @media screen and (max-width: 991px) {
                        width: 50px;
                        height: 50px;
                    }

                    @media screen and (max-width: 767px) {
                        width: 29px;
                        height: 29px;
                    }

                    @media screen and (max-width: 359px) {
                        width: 20px;
                        height: 20px;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &__preview {
            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }

            &-wrapper {
                width: 100%;
            }

            &-slide {
                height: 589px;
                width: 100%;

                @media screen and (max-width: 767px) {
                    height: 339px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }
    }
}
@forward 'hero';
@forward 'services';
@forward 'gallery';
.page--home {
    .services {
        padding-top: var(--section-padding);
        color: var(--text-color);

        &__title {
            margin-bottom: 32px;
            max-width: 223px;
            font-size: 64px;
            font-weight: 400;
            line-height: 57.6px;

            @media screen and (max-width: 991px) {
                font-size: 54px;
                line-height: 48px;
            }

            @media screen and (max-width: 767px) {
                font-size: 44px;
                line-height: 39px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__card {
            display: grid;
            grid-template-columns: 1fr 400px;
            gap: 20px;
            padding: 24px;
            border-radius: 12px;
            background: #D9DFE7;

            @media screen and (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 767px) {
                display: flex;
                flex-direction: column-reverse;
                padding: 12px;
                gap: 0;
            }


            .col {
                &:first-child {
                    display: flex;
                    flex-direction: column;
                    max-width: 641px;

                    @media screen and (max-width: 767px) {
                        max-width: 100%;
                    }
                }
            }

            &-title {
                margin-bottom: 10px;
                max-width: 420px;
                font-size: 40px;
                font-weight: 400;
                line-height: 40px;
                text-align: left;

                @media screen and (max-width: 991px) {
                    font-size: 36px;
                    line-height: 36px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 32px;
                    line-height: 32px;
                    margin-bottom: 32px;
                    max-width: 100%;
                }
            }

            &-thumb {
                min-height: 250px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }

                @media screen and (max-width: 767px) {
                    margin-bottom: 12px;
                    min-height: auto;
                    height: 250px;
                }
            }

            &-labels {
                margin-top: auto;
                display: flex;
                gap: 4px;
                flex-wrap: wrap;

                span {
                    padding: 4px 8px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    border-radius: 4px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                }
            }
        }
    }
}
.page--services {
    .service {
        &__items {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__card {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            padding: 32px;
            border-radius: 6px;
            background: #D9DFE7;

            .col {
                width: 100%;

                &:first-child {
                    max-width: 621px;
                }

                &:last-child {
                    max-width: 400px;
                }
            }

            &-thumb {
                margin-bottom: 27px;
                max-width: 100%;
                height: 327px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

            &-title {
                font-size: 40px;
                font-weight: 400;
                line-height: 40px;
                max-width: 500px;
                color: #272A2F;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 4px;

                li {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    padding-block: 8px;
                    color: #272A2F;
                    border-bottom: 1px solid #272A2F80;
                }
            }
        }
    }
}
.page--services {
    .hero {
        margin-bottom: 16px;

        &__content {
            overflow: hidden;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #272A2F80;
            }
        }

        h1 {
            max-width: 50.5%;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            text-transform: uppercase;
            z-index: 2;
            font-size: 75px;
            font-weight: 800;
            line-height: 67.5px;
            letter-spacing: -0.06em;
            color: #fff;

            span {
                &:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}
@forward 'hero';
@forward 'cards'
.page--vacancies {
    .vacancies {
        color: #272A2F;
        padding-bottom: 24px;

        &__items {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__item {
            min-height: 144px;
            padding: 32px;
            border-radius: 6px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            background: #D9DFE7;
        }

        &__title {
            max-width: 500px;
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
        }

        &__link {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.05em;
            text-align: left;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            transition: all .3s linear;

            @media (hover: hover) {
                &:hover {
                    opacity: .5;
                }
            }

            @media (hover: none) {
                &:active {
                    opacity: .5;
                }
            }

            &::after {
                content: "";
                display: inline-flex;
                flex-shrink: 0;
                width: 14px;
                height: 14px;
                background: url(../images/icons/ico-arrows-dark.svg) no-repeat center center / cover;
            }
        }
    }
}
.page--vacancies {
    .hero {
        margin-bottom: 24px;

        &__content {
            overflow: hidden;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #272A2F80;
            }
        }

        h1 {
            text-transform: uppercase;
            z-index: 2;
            font-size: 75px;
            font-weight: 800;
            line-height: 67.5px;
            letter-spacing: -0.06em;
            color: #fff;
        }
    }
}
@forward 'hero';
@forward 'content';

.page--vacancy {
    .vacancy {
        padding-top: 25px;
        color: #272A2F;

        &__info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
        }

        &__preview {
            max-width: 650px;
            width: 100%;
            position: sticky;
            top: 10px;
        }

        &__thumb {
            width: 100%;
            height: 350px;
            margin-bottom: 16px;
            position: relative;
            overflow: hidden;
            border-radius: 6px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #272A2F80;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        &__about {
            max-width: 538px;
            width: 100%;
        }

        h1 {
            font-size: 75px;
            font-weight: 800;
            line-height: 67.5px;
            letter-spacing: -0.06em;
            text-transform: uppercase;
        }

        h2 {
            font-size: 34px;
            font-weight: 400;
            line-height: 34px;
            margin-bottom: 24px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20.8px;
        }

        p:has(+ h2) {
            margin-bottom: 40px;
        }

        p:has(+ p) {
            margin-bottom: 8px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 40px;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
                display: inline-flex;
                align-items: flex-start;
                gap: 7px;

                &::before {
                    content: '';
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    display: inline-flex;
                    flex-shrink: 0;
                    transform: translateY(150%);
                    background: #DC3B3B;
                }
            }
        }

        a {
            margin-top: 40px;
            gap: 24px;
            max-width: 133px;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px;
            border-radius: 4px;
            transition: .3s linear;
            background: #dc3b3b;
            color: #fff;

            &::after {
                content: "";
                display: inline-flex;
                flex-shrink: 0;
                width: 18px;
                height: 18px;
                background: url(../images/icons/ico-edit.svg) no-repeat center center / cover;
            }

            @media (hover: hover) {
                &:hover {
                    opacity: .6;
                }
            }

            @media (hover: none) {
                &:active {
                    opacity: .6;
                }
            }
        }
    }
}
.page--worker {
    .worker {
        padding-top: 25px;
        color: #272A2F;

        &__info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
        }

        &__preview {
            max-width: 650px;
            width: 100%;
            position: sticky;
            top: 10px;
        }

        &__thumb {
            width: 100%;
            height: 350px;
            margin-bottom: 25px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        &__panel {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;

            .item {

                &:first-child {
                    width: 65%;
                    display: flex;
                    gap: 33px;
                    align-items: center;
                }

                &:last-child {
                    width: 35%;
                }
            }

            a {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 78px;
                height: 78px;
                border: 1px solid #272A2F;
            }
        }

        &__name {
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
            max-width: 267px;
        }

        &__title {
            font-size: 16px;
            font-weight: 600;
            line-height: 20.8px;
            opacity: .6;
            margin-bottom: 24px;
        }

        &__descr,
        &__list li {
            font-size: 16px;
            font-weight: 400;
            line-height: 20.8px;
            opacity: .6;
        }

        &__about {
            max-width: 538px;
            width: 100%;

            &-title {
                font-size: 76px;
                font-weight: 800;
                line-height: 67.5px;
                letter-spacing: -0.06em;
                margin-bottom: 48px;
            }

            .info-box {
                &:not(:last-child) {
                    margin-bottom: 64px;
                }

                &__item {
                    padding-block: 23px;
                    border-bottom: 1px solid #272A2F33;
                }

                &__title {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #333D4C;
                }

                &__subtitle {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20.8px;
                    margin-bottom: 4px;
                }

                &__date {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20.8px;
                    opacity: .6;
                }
            }
        }
    }
}